.movies-list {
  display: grid;
  padding: 40px 10px 13px;
  align-items: center;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  row-gap: 39px;
}

.movies-list-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  grid-column: 1 / span 3;
  margin: 0;
}

.movies-list__elements {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(4, 231px);
  row-gap: 60px;
  column-gap: 30px;
}


@media screen  and (min-width: 768px){
.movies-list {
    column-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 70px 30px 12px;
    row-gap: 47px;
  }
}

@media screen and (min-width: 1280px){
.movies-list {
    column-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    padding: 70px 70px 28px;
    row-gap: 60px;
}
}







