.movies-list__element {
  position: relative;
  display: grid;
}

.movies-list__element:hover .movies-list__saved {
  display: block;
}

.movies-list__element-picture {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 2/1.12;
  position: relative;
}

.movies-list__saved {
  position: absolute;
  background-image: url("../../images/save3d.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  top: 14px;
  right: 20px;
  width: 72px;
  height: 21px;
  border: none;
  display: none;
}

.movies-list__saved_active {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url("../../images/save3.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 21px;
  display: block;
}

.movies-list__saved_active::after {
  content: "";
  display: block;
}

.movies-list__delete {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url("../../images/d3.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 21px;
  display: none;
}

.movies-list__element:hover .movies-list__delete {
  display: block;
}

.movies-list__element-info {
  display: grid;
  grid-template-areas:
  "movies-title movie-duration";
  column-gap: 30px;
  padding: 14px;
  justify-content: space-between;
}

.movies-list__element-title {
  color: #ffffff;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
}

.movies-list__element-duration {
  color: #8b8b8b;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  background-color: #2f2f2f;
  padding: 3px 4px;
  max-height: 12px;
  max-width: 52px;
}



@media screen and (min-width: 768px){
  .movies-list__element-title {
    font-size: 13px;
    line-height: 16px;
  }
}


