.burger {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.burger__open {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.burger__conteiner {
  width: 520px;
  background-color: rgba(32, 32, 32, 1);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 1024px;
}

.burger__close {
  position: fixed;
  top: 22px;
  right: 22px;
  max-width: 22px;
  max-height: 22px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.burger__close-icon {
  position: fixed;
  top: 22px;
  right: 22px;
}

.burger__close-icon:hover {
  cursor: pointer;
  opacity: 0.3;
  transition: 0.3s;
}

.burger__items {
  padding: 0;
  padding-bottom: 90px;
  padding-top: 159px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.burger__item {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.burger__item:last-child {
  margin-top: 593px;
}

.burger__item-link {
  color: rgba(255, 255, 255, 1);
}

.header__menu-profile-in-burger {
  display: block;
}

.burger__item-link-active {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 4px;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .burger__conteiner {
    width: 100%;
    background-color: rgba(32, 32, 32, 1);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 1024px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .burger__items {
    padding: 0;
    padding-bottom: 46px;
    padding-top: 144px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .burger__item:last-child {
    margin-top: 420px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .burger__close-icon {
    position: fixed;
    top: 13px;
    right: 13px;
  }
}
