.navigation {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 1002px;
  padding-right: 364px;
  padding-left: 426px;
}

.navigation__link {
  display: flex;
  gap: 16px;
}

.navigation__link-item {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  white-space: nowrap;
}

.navigation__link-item-active {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 4px;
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 1246px) and (min-width: 850px) {
  .navigation {
    width: 750px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 850px) and (min-width: 320px) {
  .navigation {
    display: none;
  }
}
